<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          ngModel
          email
          required
          #email="ngModel"
        />
        <p *ngIf="!email.valid && email.touched">
          Please enter a valid email address
        </p>
        <label for="subType">Subscription Type</label>
        <select
          name="subType"
          id="subType"
          class="form-control"
          [ngModel]="defaultSub"
        >
          <option *ngFor="let subType of subTypes" [value]="subType">
            {{ subType }}
          </option>
        </select>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
          ngModel
        />
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
          Submit
        </button>
        <p *ngIf="!f.valid && f.touched">
          All fields must be complete to submit the form!
        </p>
        <hr />
        <div class="row" *ngIf="submitted">
          <div class="col-xs-12">
            <h3>Your Data</h3>
            <p>Email: {{ user.email }}</p>
            <p>Subscription: {{ user.subType }}</p>
            <p>Password: {{ user.password }}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
